div.notepad
{
    width: 60%;
    height: 50%;
    background-color: #fff;

    position: absolute;
    top: 7%;
    left: 14%;

    transition: opacity .4s;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-self: flex-start;

    resize: both;
    overflow: auto;

    min-height: calc(37px + 16px);
    min-width: 250px;
}

div.title
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    color: #000;

    cursor: default;
}

/* div.left-programm-title, div.right-programm-title
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
} */

div.left-programm-title
{
    flex-grow: 1;
    cursor: move;
}

span.programm-title 
{
    font-size: 13px;
    margin-left: 5px;
}

nav.notepad-nav
{
    font-size: 13px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.63);
    cursor: default;
}

nav.notepad-nav span.notepad-navigation-item
{
    /* padding: 3px 7px; */
    padding: 0px 7px;
}

nav.notepad-nav span.notepad-navigation-item:hover
{
    background-color: rgba(147, 216, 255, 0.76);
}

.programm-change-size 
{
    margin-right: 10px;
    height: 100%;
    padding: 4px;
    transition: all .2s;
}

.programm-change-size:hover
{
    background-color: rgba(143, 143, 143, 0.4);
    color: #fff;
    transition: all .2s;
}

.right-programm-title .programm-change-size:last-child
{
    margin-right: 0;
}

img.programm-change-size
{
    width: 20px;
}

div.notepad-text
{
    height: calc(100% - 1px);
}

textarea.notepad-textarea
{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 0 4px;
    outline: none;
}