*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    /* transition: all .3s; */

    /* resize: none; */
}

*::selection
{
    background-color: rgba(0, 0, 0, 0);
}

html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

ul
{
    list-style-type: none;
}

div.left-programm-title, div.right-programm-title
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}